:root{
  --main-header-font: 'Pacifico', cursive;

}

.App{
  width: 100vw; 
  height: 100Vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #444;
}

.header{
  height: 80px; 
  width: 100vw;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

.header-left{
  width: 33%;
  height: 100%;
}

.header-center{
  width: 33%; 
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
  color: white;
}

.header-right{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
  height: 100%;
}

.header-right .navigation-element{
  height:100%; 
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.header-right .navigation-element:hover{
  background: white;
  color: #333;
}

.container{
  width:70%; 
  min-width: 1000px; 
  height: 100%; 
  background-color: white;
  margin: 0 auto;
  padding: 10px;

}
